.project-list-item {
    padding: 1em 0;
}

.project-list-item img {
    width: 18.5em;
}

.project-list-item .project-tag {
    font-family: monospace;
}

.project-list-item .skills-list {
    margin: 0;
}

.project-list-item td * {
    background-color: transparent;
    padding: 0;
}

.projects-list .table tbody td, .table thead th {
    background-color: var(--background-1);
    border-bottom: 1px solid var(--background-2);
    color: var(--light-background-1);
}

.projects-list .table tbody tr {
    background-color: var(--background-2);
}
.projects-list .table tbody td a {
    background-color: var(--background-2);
}

.projects-list .table td{
    word-wrap: break-word;
}