.social-links.nohover i:hover {
    color: var(--foreground-2);
}

.social-link {
    font-size: 2rem;
    text-decoration: none;
    margin-right: 10px;
}

.social-link i {
    color: var(--foreground-1);
    transition: color 0.3s ease-in;
}

.social-link i:hover {
    color: var(--primary-1);
}
