.project-card {
    position: relative;
    /* border-radius: 1e; */
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    margin: 10px;
    margin-bottom: 2em;
}

.project-card:hover {
    /* cursor: pointer; */
}

.project-card .poster {
    position: relative;
    overflow: hidden;
}

.project-card .poster::before {
    content: "";
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--background-1), 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.project-card:hover .poster::before {
    bottom: 0px;
}

.project-card .poster img {
    width: 100%;
    transition: 0.5s;
}

.project-card:hover .poster img {
    transform: translateY(-25px);
    filter: blur(5px);
}

.project-card .details {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
}

.project-card:hover .details {
    bottom: 20px;
    opacity: 1;
}

.project-card .details .title {
    font-weight: 700;
}

.project-card .details .description {
    color: var(--foreground-2);
}

.project-card .details .project-tag {
    font-size: 0.8rem;
    padding: 10px;
    background-color: var(--primary-1);
    transition: 0.5s;
    border-radius: 500px;
    margin: 0 0.25rem;
}

.project-card .details .project-tag:hover {
    background-color: var(--primary-2);
    cursor: default;
}

@media screen and (max-width: 991px) {
    .project-card .poster img, 
    .project-card:hover .poster img {
        transform: translateY(0px);
        filter: blur(0px);
    }

    .project-card .poster::before {
        bottom: 0px;
    }

    .project-card .details,
    .project-card:hover .details {
        opacity: 1;
        bottom: 0px;
    }
}

@media screen and (max-width: 477px) {
    .project-card {
        width: 95%;
    }
    .project-card .details {
        font-size: 0.9rem;
    }
}